/* principleページ独自のスタイル */
/************************************************/
.un_principle_inner {
	@include maxmq(tab) {
		margin: 0 auto;
		padding: 0 15px 150px;
		width: 85%;
	}
	@include maxmq(sp) {
		padding: 0 15px 70px 30px;
		width: 90%;
	}
	margin: 0 auto 0 30vw;
	max-width: 600px;
	padding-bottom: 120px;
}


.un_principle_txt {
	animation: fade 1.5s ease-in forwards;
	color: #707070;
	@include maxmq(sp) {
		font-size: rem(14);
	}
	@include f_around(18 , 30 , 400 , 200);
	opacity: 0;
}

.fade1 {
	animation-delay: 0;
}
.fade2 {
	animation-delay: 1s;
}
.fade3 {
	animation-delay: 2s;
}
.fade4 {
	animation-delay: 3s;
}
.fade5 {
	animation-delay: 4s;
}
.fade6 {
	animation-delay: 5s;
}

// フェードインアニメーション
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.un_principle_txt:first-of-type {
	@include maxmq(sp) {
		margin-top: 70px;
	}
	margin-top: 100px;
}

.un_principle_txt {
	margin-top: 55px;
}
