/* helperスタイル */
/************************************************/
// 100vh
.hp_100vh {
	height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

// メイン画面用ヘッダー背景色
.hp_textTransform {
	text-transform: uppercase;
}
// TOPヘッダー背景透過
@include minmq(tab) {
	.hp_topHeader_bg {
		background-color: transparent;
	}
}

// SP時改行
@media screen and (min-width: 600px) {
	.hp_spBr {
		display: none;
	}
}
