/* elementModule */
/************************************************/
.el_btn {
	border: 1px solid #fff;
	display: inline-block;
	font-family: "Optima","Roman",serif;
	letter-spacing: .2em;
	padding: 9px  20px;
	text-align: center;
	transition: background-color .3s , color .3s;
}

.el_btn::after {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	content: "";
	display: inline-block;
	height: 6px;
	margin-left: 10px;
	transform: translateY(-2px) rotate(45deg);
	transition: border .3s , transform .3s;
	width: 6px;
}

.el_btn:hover , .el_btn:focus {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

.el_btn:hover::after , .el_btn:focus::after {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	transform: translatex(6px) translateY(-2px)rotate(45deg);
}

// メインページ用スタイル
// ヘッダー内
.el_headerBtn {
	transition: background-color .3s , color .3s;
}

.el_headerBtn::after {
	transition: border .3s , transform .3s;
}

.el_headerBtn:hover , .el_headerBtn:focus {
	color: #606569;
}

.el_headerBtn:hover::after , .el_headerBtn:focus::after {
	border-right: 1px solid #606569;
	border-top: 1px solid #606569;
	transform: translatex(6px) translateY(-2px)rotate(45deg);
}

// コンテンツ内
.el_btn_main {
	background-color: $accent-color;
	color: #fff;
	transition: background-color .3s , color .3s;
}

.el_btn_main::after {
	transition: border .3s , transform .3s;
}

.el_btn_main:hover , .el_btn_main:focus {
	background-color: #fff;
	color: $accent-color;
}

.el_btn_main:hover::after , .el_btn_main:focus::after {
	border-right: 1px solid $accent-color;
	border-top: 1px solid $accent-color;
	transform: translatex(6px) translateY(-2px)rotate(45deg);
}
