// ハンバーガーボタン通常時
.bl_hamburgerBtn {
	display: block;
	height: 47px;
	@include z-index(hamburger);
	left: 30px;
	position: absolute;
	top: 30px;
	width: 47px;

	&:hover , &:focus {
		.el_hamburgerBtn_lineTop , .el_hamburgerBtn_lineMiddle , .el_hamburgerBtn_lineBottom {
			background-color: #afc9c9;
			box-shadow: 2px 2px 10px #fff;
		}
	}
}

.el_hamburgerBtn_line:not(:last-of-type) {
	margin-bottom: 11px;
}

.el_hamburgerBtn_lineTop , .el_hamburgerBtn_lineMiddle , .el_hamburgerBtn_lineBottom {
	background-color: #fff;
	display: block;
	height: 1px;
	transition: transform .3s;
}

.el_hamburgerBtn_lineTop {
	width: 30px;
}

.el_hamburgerBtn_lineMiddle {
	transition: visibility .1s;
	width: 24px;
}

.el_hamburgerBtn_lineBottom {
	width: 17px;
}

// ハンバーガーボタンオープン時(is_open)
.el_hamburgerBtn_lineTop.is_open {
	transform: rotate(225deg) translatex(-6px) translateY(-11px);
}

.el_hamburgerBtn_lineMiddle.is_open {
	visibility: hidden;
}

.el_hamburgerBtn_lineBottom.is_open {
	transform: rotate(-225deg) translatex(-6px) translateY(11px);
	width: 30px;
}


// インナーメニュー
.bl_header_navWrap {
	left: 0;
	position: absolute;
	top: 0;
	transition: all .1s;
	visibility: hidden;
	width: 100vw;
}

// オープン時クラス
.bl_header_navWrap.is_open {
	background-color: $bg_color;
	@include z-index(headerMenu);
	transition: all .5s;
	visibility: visible;
}

.bl_header_nav {
	display: flex;
	flex-direction: column;
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50% , -45%);
	width: 50%;

	.el_header_navList {
		margin: auto;
		text-align: center;
		width: 100%;
	}
	.el_header_navList:nth-of-type(2) {
		margin-bottom: 70px;
		margin-top: 70px;
	}
}
