// ハンバーガーボタン通常時
.bl_hamburgerBtn {
	display: block;
	height: 47px;
	@include z-index(hamburger);
	left: 30px;
	position: fixed;
	top: 30px;
	width: 47px;

	&:hover , &:focus {
		.el_hamburgerBtn_lineTop , .el_hamburgerBtn_lineMiddle , .el_hamburgerBtn_lineBottom {
			box-shadow: 2px 2px 10px #b0b0b0;
		}
	}
}

@include minmq(tab) {
	.bl_hamburgerBtn {
		display: none;
	}
}

.el_hamburgerBtn_line:not(:last-of-type) {
	margin-bottom: 11px;
}

.el_hamburgerBtn_lineTop , .el_hamburgerBtn_lineMiddle , .el_hamburgerBtn_lineBottom {
	background-color: #000;
	display: block;
	height: 2px;
	transition: transform .3s;
}

.el_hamburgerBtn_lineTop {
	width: 30px;
}

.el_hamburgerBtn_lineMiddle {
	transition: visibility .1s;
	width: 24px;
}

.el_hamburgerBtn_lineBottom {
	width: 17px;
}

// ハンバーガーボタンオープン時(is_open)
.el_hamburgerBtn_lineTop.is_open {
	transform: rotate(225deg) translatex(-6px) translateY(-11px);
}

.el_hamburgerBtn_lineMiddle.is_open {
	visibility: hidden;
}

.el_hamburgerBtn_lineBottom.is_open {
	transform: rotate(-225deg) translatex(-6px) translateY(11px);
	width: 30px;
}
