/* elementModule */
/************************************************/
.el_reserve_btn {
	border: 1px solid #fff;
	display: inline-block;
	letter-spacing: .2em;
	padding: 9px  20px;
}

.el_reserve_btn::after {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	content: "";
	display: inline-block;
	height: 6px;
	margin-left: 10px;
	transform: translateY(-2px) rotate(45deg);
	width: 6px;
}

.el_reserve_btn_main {
	background-color: #afc9c9;
	color: #fff;
}
