/* menuページ独自のスタイル */
/************************************************/
.un_menu_wrapper {
	color: #606569;
	@include maxmq(tab) {
		margin: 0 auto;
		padding: 0 15px 150px 30px;
	}
	margin: 0 30px 0 25vw;
	max-width: 800px;
	padding: 0 0 150px 0;
}

.un_description_txt {
	font-size: rem(14);
	@include maxmq(sp) {
		font-size: rem(12);
	}
	line-height: calc(27 / 16 * 100%);
	margin-top: 15px;
	text-align: center;
}

.un_menu_container {
	display: flex;
	@include maxmq(tab) {
		align-items: center;
		flex-direction: column;
		margin-top: 64px;
	}
	justify-content: space-between;
	margin-top: 88px;
}

// PC時縦2列
.un_menu_flexBox {
	flex-basis: 320px;
	@include maxmq(tab) {
		width: 60%;
	}
	@include maxmq(sp) {
		font-size: rem(14);
		white-space: nowrap;
		width: 90%;
	}
}

@include maxmq(tab) {
	.un_menu_flexBox:not(:first-of-type) {
		margin-top: 76px;
	}
}

.un_menu_block:nth-of-type(even) {
	margin-top: 50px;
}
@include maxmq(tab) {
	.un_menu_block:nth-of-type(even) {
		margin-top: 0;
	}
}

@include maxmq(tab) {
	.un_menu_block:not(:first-of-type) {
		margin-top: 76px;
	}
}

.un_team {
	border-bottom: 1px solid #707070;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.un_description {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.un_description:first-of-type {
	margin-top: 22px;
}

// チルダがない場合marginをとる
.un_description_price:not(.un_tilde) {
	margin-right: 1em;
}

.un_menu_btnWrap {
	margin-top: 122px;
	text-align: center;
}

.un_menu_btn {
	text-transform: uppercase;
	width: 250px;
}

.un_menu .ly_footer {
	@include maxmq(tab) {
		margin: 0 auto;
		padding: 0 15px 0 30px;
	}
	margin: 0 auto 0 30vw;
	max-width: 800px;
}
