/* principleページ独自のスタイル */
/************************************************/
.un_principle_txt {
	color: #707070;
	font-size: rem(18);
	letter-spacing: .2em;
	line-height: 30px;
}

.un_principle_txt:first-of-type {
	margin-top: 100px;
}
.un_principle_txt:nth-of-type(3) {
	margin-top: 55px;
}
.un_principle_txt:last-of-type {
	// margin-bottom: 184px;
}
