/* principleページ独自のスタイル */
/************************************************/
.un_principle_inner {
	@include maxmq(tab) {
		padding: 0 15px 350px 30px;
		width: 85%;
	}
	@include maxmq(sp) {
		padding: 0 15px 150px 30px;
		width: 85%;
	}
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 120px;
}


.un_principle_txt {
	color: #707070;
	font-size: rem(18);
	@include maxmq(sp) {
		font-size: rem(14);
	}
	letter-spacing: .2em;
	line-height: 30px;
}

.un_principle_txt:first-of-type {
	margin-top: 100px;
}
.un_principle_txt:nth-of-type(3) {
	margin-top: 55px;
}
