/* principleページ独自のスタイル */
/************************************************/
.un_principle_inner {
	@include maxmq(tab) {
		padding: 0 15px 350px 30px;
		width: 85%;
	}
	@include maxmq(sp) {
		padding: 0 15px 150px 30px;
		width: 85%;
	}
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 120px;
}


.un_principle_txt {
	animation: fadein 1.5s ease-in forwards;
	color: #707070;
	@include maxmq(sp) {
		font-size: rem(14);
	}
	@include f_around(18 , 30 , 400 , 200);
	opacity: 0;
}

.fade1 {
	animation-delay: 0;
}
.fade2 {
	animation-delay: .5s;
}
.fade3 {
	animation-delay: 1.5s;
}
.fade4 {
	animation-delay: 2.5s;
}

// フェードインアニメーション
@keyframes fadein {
	100% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.un_principle_txt:first-of-type {
	margin-top: 100px;
}
.un_principle_txt:nth-of-type(3) {
	margin-top: 55px;
}
