/* singleページ独自のスタイル */
/************************************************/
.single_wrapper {
	color: #606569;
	@include maxmq(tab) {
		margin: 0 auto;
		padding: 0 15px 150px 30px;
	}
	margin: 0 auto 0 30vw;
	max-width: 800px;
	padding: 0 15px 150px 0;
}

.single_contaner {
	display: flex;
	@include maxmq(tab) {
		flex-direction: column;
		margin: 50px auto;
		max-width: 600px;
	}
	margin-top: 56px;
}

.single_contentBlock {
	line-height: calc(27 / 16 * 100%);
	margin-right: 65px;
	@media screen and (max-width: 880px) {
		margin-right: 0;
	}
}

.single_img {
	height: 500px;
	@include maxmq(sp) {
		height: 300px;
		margin-bottom: 3em;
	}
	margin-bottom: 4em;
	img {
		font-family: "object-fit: cover;";  /*IE対策*/
		height: 100%;
		object-fit: cover;
	}
}
