@charset "UTF-8";
/* base */
/************************************************/
body {
	animation: fadein 1s forwards;
	color: $baseFont-color;
	font-family: $fontFamily;
	overflow-x: hidden;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

img {
	height: auto;
	vertical-align: bottom;
	width: 100%;
}
