@charset "UTF-8";
/* base */
/************************************************/
html {
	height: 100%;
}

body {
	animation: fadein 1s forwards;
	color: $baseFont-color;
	font-family: $font_jp;
	height: 100%;
	@include maxmq(tab) {
		background-image: url(../../../public/assets/img/bg.svg);
		background-repeat: repeat-y;
	}
	overflow-x: hidden;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

header {
	font-family: "Optima","Roman",serif;
}
img {
	height: auto;
	vertical-align: bottom;
	width: 100%;
}
