@charset "UTF-8";
/* base */
/************************************************/
html {
  height: 100%;
}

body {
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
  color: #606569;
  font-family: "Noto Serif JP", serif;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 980px) {
  body {
    background-image: url(../../../public/assets/img/bg.svg);
    background-repeat: repeat-y;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

header {
  font-family: "Optima","Roman",serif;
}

img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

/* layoutModule */
/************************************************/
.ly_header_container {
  margin: 0 auto;
  max-width: 1200px;
}

.ly_header {
  background-color: #afc9c9;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 200px;
}

@media screen and (max-width: 980px) {
  .ly_header {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.ly_header.is_open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.ly_container {
  position: absolute;
  width: 100%;
}

/* elementModule */
/************************************************/
.el_btn {
  border: 1px solid #fff;
  display: inline-block;
  font-family: "Optima","Roman",serif;
  letter-spacing: .2em;
  padding: 9px  20px;
  text-align: center;
  transition: background-color .3s , color .3s;
}

.el_btn::after {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  content: "";
  display: inline-block;
  height: 6px;
  margin-left: 10px;
  -webkit-transform: translateY(-2px) rotate(45deg);
          transform: translateY(-2px) rotate(45deg);
  transition: border .3s , -webkit-transform .3s;
  transition: border .3s , transform .3s;
  transition: border .3s , transform .3s , -webkit-transform .3s;
  width: 6px;
}

.el_btn:hover, .el_btn:focus {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.el_btn:hover::after, .el_btn:focus::after {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  -webkit-transform: translatex(6px) translateY(-2px) rotate(45deg);
          transform: translatex(6px) translateY(-2px) rotate(45deg);
}

.el_headerBtn {
  transition: background-color .3s , color .3s;
}

.el_headerBtn::after {
  transition: border .3s , -webkit-transform .3s;
  transition: border .3s , transform .3s;
  transition: border .3s , transform .3s , -webkit-transform .3s;
}

.el_headerBtn:hover, .el_headerBtn:focus {
  color: #606569;
}

.el_headerBtn:hover::after, .el_headerBtn:focus::after {
  border-right: 1px solid #606569;
  border-top: 1px solid #606569;
  -webkit-transform: translatex(6px) translateY(-2px) rotate(45deg);
          transform: translatex(6px) translateY(-2px) rotate(45deg);
}

.el_btn_main {
  background-color: #afc9c9;
  color: #fff;
  transition: background-color .3s , color .3s;
}

.el_btn_main::after {
  transition: border .3s , -webkit-transform .3s;
  transition: border .3s , transform .3s;
  transition: border .3s , transform .3s , -webkit-transform .3s;
}

.el_btn_main:hover, .el_btn_main:focus {
  background-color: #fff;
  color: #afc9c9;
}

.el_btn_main:hover::after, .el_btn_main:focus::after {
  border-right: 1px solid #afc9c9;
  border-top: 1px solid #afc9c9;
  -webkit-transform: translatex(6px) translateY(-2px) rotate(45deg);
          transform: translatex(6px) translateY(-2px) rotate(45deg);
}

/* blockModule */
/************************************************/
.bl_header_inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 30px;
  letter-spacing: .2em;
  position: absolute;
  top: 150px;
}

@media screen and (max-width: 480px) {
  .bl_header_inner {
    top: 120px;
  }
}

@media screen and (max-width: 400px) {
  .bl_header_inner {
    top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .bl_header_inner {
    top: 60px;
  }
}

.el_header_list {
  color: #fff;
}

.el_header_list:not(:first-of-type) {
  margin-top: 37px;
}

.el_header_link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.el_header_link:hover, .el_header_link:focus {
  color: #606569;
}

.el_header_link::after {
  background: #606569;
  bottom: -4px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 100%;
}

.el_header_link:hover::after, .el_header_link:focus::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.el_current {
  color: #606569;
  position: relative;
}

.un_top_bg .el_header_link:hover, .un_top_bg .el_header_link:focus {
  color: #fff;
}

.un_top_bg .el_header_link::after {
  background: #fff;
}

.bl_slide_container {
  z-index: -2;
  position: absolute;
  top: 0;
  width: 100vw;
}

.el_slide_list {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.el_slide_list img {
  font-family: "object-fit: cover;";
  /*IE対策*/
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_hamburgerBtn {
  display: block;
  height: 47px;
  z-index: 200;
  left: 30px;
  position: fixed;
  top: 30px;
  width: 47px;
}

.bl_hamburgerBtn:hover .el_hamburgerBtn_lineTop, .bl_hamburgerBtn:hover .el_hamburgerBtn_lineMiddle, .bl_hamburgerBtn:hover .el_hamburgerBtn_lineBottom, .bl_hamburgerBtn:focus .el_hamburgerBtn_lineTop, .bl_hamburgerBtn:focus .el_hamburgerBtn_lineMiddle, .bl_hamburgerBtn:focus .el_hamburgerBtn_lineBottom {
  box-shadow: 2px 2px 10px #b0b0b0;
}

@media screen and (min-width: 980px) {
  .bl_hamburgerBtn {
    display: none;
  }
}

.el_hamburgerBtn_line:not(:last-of-type) {
  margin-bottom: 11px;
}

.el_hamburgerBtn_lineTop, .el_hamburgerBtn_lineMiddle, .el_hamburgerBtn_lineBottom {
  background-color: #000;
  display: block;
  height: 1px;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.el_hamburgerBtn_lineTop {
  width: 30px;
}

.el_hamburgerBtn_lineMiddle {
  transition: visibility .1s;
  width: 24px;
}

.el_hamburgerBtn_lineBottom {
  width: 17px;
}

.el_hamburgerBtn_lineTop.is_open {
  -webkit-transform: rotate(225deg) translatex(-6px) translateY(-11px);
          transform: rotate(225deg) translatex(-6px) translateY(-11px);
}

.el_hamburgerBtn_lineMiddle.is_open {
  visibility: hidden;
}

.el_hamburgerBtn_lineBottom.is_open {
  -webkit-transform: rotate(-225deg) translatex(-6px) translateY(11px);
          transform: rotate(-225deg) translatex(-6px) translateY(11px);
  width: 30px;
}

.el_sec_ttl {
  color: #afc9c9;
  font-family: "Marcellus", serif;
  font-size: 2rem;
  letter-spacing: .2em;
  padding-top: 100px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .el_sec_ttl {
    font-size: 1.5rem;
  }
}

.el_copy {
  display: block;
  padding: 184px 0 30px;
  text-align: center;
}

/* helperスタイル */
/************************************************/
.hp_mt0 {
  margin-top: 0px !important;
}

.hp_mb0 {
  margin-bottom: 0px !important;
}

.hp_mt10 {
  margin-top: 10px !important;
}

.hp_mb10 {
  margin-bottom: 10px !important;
}

.hp_mt20 {
  margin-top: 20px !important;
}

.hp_mb20 {
  margin-bottom: 20px !important;
}

.hp_mt30 {
  margin-top: 30px !important;
}

.hp_mb30 {
  margin-bottom: 30px !important;
}

.hp_mt40 {
  margin-top: 40px !important;
}

.hp_mb40 {
  margin-bottom: 40px !important;
}

.hp_mt50 {
  margin-top: 50px !important;
}

.hp_mb50 {
  margin-bottom: 50px !important;
}

.hp_mt60 {
  margin-top: 60px !important;
}

.hp_mb60 {
  margin-bottom: 60px !important;
}

.hp_mt70 {
  margin-top: 70px !important;
}

.hp_mb70 {
  margin-bottom: 70px !important;
}

.hp_mt80 {
  margin-top: 80px !important;
}

.hp_mb80 {
  margin-bottom: 80px !important;
}

.hp_mt90 {
  margin-top: 90px !important;
}

.hp_mb90 {
  margin-bottom: 90px !important;
}

.hp_mt100 {
  margin-top: 100px !important;
}

.hp_mb100 {
  margin-bottom: 100px !important;
}

.hp_mt110 {
  margin-top: 110px !important;
}

.hp_mb110 {
  margin-bottom: 110px !important;
}

.hp_mt120 {
  margin-top: 120px !important;
}

.hp_mb120 {
  margin-bottom: 120px !important;
}

.hp_mt130 {
  margin-top: 130px !important;
}

.hp_mb130 {
  margin-bottom: 130px !important;
}

.hp_mt140 {
  margin-top: 140px !important;
}

.hp_mb140 {
  margin-bottom: 140px !important;
}

.hp_mt150 {
  margin-top: 150px !important;
}

.hp_mb150 {
  margin-bottom: 150px !important;
}

.hp_100vh {
  min-height: calc(var(--vh, 1vh) * 100);
}

.hp_200vh {
  min-height: calc(var(--vh, 1vh) * 200);
}

.hp_textTransform {
  text-transform: uppercase;
}

@media screen and (min-width: 980px) {
  .hp_topHeader_bg {
    background-color: transparent;
  }
}

/* トップページ独自のスタイル */
/************************************************/
.un_top_bg {
  overflow: hidden;
  position: relative;
}

.un_top_bg::after {
  background-color: rgba(175, 201, 201, 0.4);
  content: "";
  display: block;
  height: 200%;
  z-index: -1;
  position: absolute;
  right: -15%;
  top: -10%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  width: calc(822 / 1200 * 100%);
}

@media screen and (max-width: 980px) {
  .un_top_bg::after {
    background-color: transparent;
    border-color: transparent transparent rgba(175, 201, 201, 0.4) transparent;
    border-style: solid;
    border-width: 0 0 100vh 80vw;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 0;
  }
}

@media screen and (min-width: 980px) {
  .un_topHeader_bg {
    background-color: transparent;
  }
}

@media screen and (max-width: 980px) {
  .un_topHeader_bg {
    background-color: rgba(175, 201, 201, 0.97);
  }
}

.un_logo_container {
  align-items: center;
  border: 4px solid #fff;
  display: flex;
  font-family: "Marcellus", serif;
  height: 400px;
  z-index: 0;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 470px;
}

@media screen and (max-width: 1200px) {
  .un_logo_container {
    width: calc(470 / 1200 * 100%);
  }
}

@media screen and (max-width: 980px) {
  .un_logo_container {
    height: 350px;
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .un_logo_container {
    height: 222px;
    width: 260px;
  }
}

.un_logo_container::after {
  border: 4px solid #afc9c9;
  content: "";
  display: block;
  height: 100%;
  left: 28px;
  position: absolute;
  top: 27px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .un_logo_container::after {
    left: 15px;
    top: 16px;
  }
}

.un_logo {
  height: 218px;
  width: 358px;
}

@media screen and (max-width: 1200px) {
  .un_logo {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .un_logo {
    height: 190px;
  }
}

.un_logo img {
  height: 100%;
}

.un_hamburgerBtn:hover .el_hamburgerBtn_lineTop, .un_hamburgerBtn:hover .el_hamburgerBtn_lineMiddle, .un_hamburgerBtn:hover .el_hamburgerBtn_lineBottom, .un_hamburgerBtn:focus .el_hamburgerBtn_lineTop, .un_hamburgerBtn:focus .el_hamburgerBtn_lineMiddle, .un_hamburgerBtn:focus .el_hamburgerBtn_lineBottom {
  box-shadow: 2px 5px 10px #fff;
}

.un_bg_white {
  background-color: #fff;
}

/* principleページ独自のスタイル */
/************************************************/
.un_principle_inner {
  margin: 0 auto;
  max-width: 600px;
}

@media screen and (max-width: 980px) {
  .un_principle_inner {
    padding: 0 15px 0 30px;
  }
}

.un_principle_txt {
  color: #707070;
  font-size: 1.125rem;
  letter-spacing: .2em;
  line-height: 30px;
}

@media screen and (max-width: 480px) {
  .un_principle_txt {
    font-size: 0.875rem;
  }
}

.un_principle_txt:first-of-type {
  margin-top: 100px;
}

.un_principle_txt:nth-of-type(3) {
  margin-top: 55px;
}

/* profileページ独自のスタイル */
/************************************************/
.un_profile_inner {
  margin: 0 auto;
  max-width: 600px;
}

@media screen and (max-width: 980px) {
  .un_profile_inner {
    padding: 0 15px 0 30px;
  }
}

.un_profile_block {
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}

@media screen and (max-width: 980px) {
  .un_profile_block {
    margin-top: 58px;
  }
}

.un_profile_img {
  flex-basis: 267px;
  flex-shrink: 0;
  height: 352px;
}

.un_profile_img img {
  font-family: "object-fit: cover;";
  /*IE対策*/
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.un_profile_txtBlock {
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
  justify-content: space-between;
}

.un_profile_name {
  font-size: 1.5rem;
  letter-spacing: .2em;
  line-height: calc(38 / 24 * 100%);
  text-align: center;
}

.un_profile_name::after {
  content: "Takiguchi Minami";
  display: block;
  font-size: 0.875rem;
  letter-spacing: .1em;
  line-height: calc(28 / 14 * 100%);
}

.un_instagram_btn {
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .un_profile_inner {
    max-width: 250px;
    padding: 0;
  }
  .un_profile_block {
    display: flex;
    flex-direction: column;
  }
  .un_profile_txtBlock {
    margin-top: 66px;
  }
  .un_profile_txt {
    margin-top: 80px;
  }
  .un_instagram_btn {
    margin-top: 80px;
  }
}

.un_profile_txt {
  font-size: 1rem;
  letter-spacing: .2em;
  line-height: calc(30 / 18 * 100%);
}

@media screen and (max-width: 480px) {
  .un_profile_txt {
    font-size: 0.875rem;
    line-height: calc(30 / 16 * 100%);
  }
}

/* js対応スタイル */
/************************************************/
