/* layoutModule */
/************************************************/
.ly_header_container {
	margin: 0 auto;
	max-width: 1200px;
}

.ly_header {
	background-color: #afc9c9;
	display: flex;
	flex-direction: column;
	height: 100%;
	@include maxmq(tab) {
		transform: translateX(-200px);
	}
	@include z-index(header);
	justify-content: center;
	position: fixed;
	top: 0;
	transition: transform .3s;
	width: 200px;
}

// インナーメニュー
.ly_header.is_open {
	transform: translateX(0);
}

// メインページ共通
.ly_container {
	position: absolute;
	width: 100%;
}
