/* layoutModule */
/************************************************/
.ly_header_container {
	margin: 0 auto;
	max-width: 1200px;
}

.ly_header {
	height: 100vh;
	@include maxmq(tab) {
		position: absolute;
		transform: translateX(-185px);
	}
	@include z-index(header);
	letter-spacing: .2em;
	transition: transform .3s;
	width: 200px;
}

// メインページ共通
.ly_columnWrapper {
	display: flex;
}

.ly_main_container {
	position: relative; // コピーライト最下部配置のため
	width: 100%;
}

.ly_main_inner {
	@include maxmq(tab) {
		padding: 0 15px 0 30px;
	}
	margin: 0 auto;
	max-width: 600px;
}
