/* layoutModule */
/************************************************/
.ly_header_container {
	margin: 0 auto;
	max-width: 1200px;
}

.ly_header {
	@include z-index(header);
	@include maxmq(tab) {
		transform: translateX(-200px);
	}
	letter-spacing: .2em;
	text-transform: uppercase;
	transition: transform .3s;
	width: 200px;
}
